body {
    width: 100%;
    height: 100%;
}

.swiper {
    height: 20rem;
    margin: 0;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
}

.swiper-slide {
    background-color: #515151 !important;
}

.swiper img {
    width: 100%;
    object-fit: cover;
}

.slideitem {
    margin: 0;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    transition: all .35s;
}

.slideitem label {
    font-size: 1.3rem;
    position: absolute;
    z-index: 1;
    top: 55%;
    color: white;
    cursor: pointer;
}

label.left {
    left: 0.5rem;
}

label.right {
    right: 0.5rem;
}

.swiper-pagination-bullet-active {
    background: #4FE4C0 !important;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
    /* bottom: auto !important; */
    position: relative !important;
    margin-top: 0.5rem;
}

.swiper-slide {
    position: relative;
}

.contents {
    position: absolute;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 20rem;
    display: flex;
}

.whiteicon {
    width: 30%;
    margin: 6rem 1rem 6rem 1.5rem;
}

.whiteicon img {
    width: 100%;
}

.whiteicon p {
    font-size: 1.25;
    font-weight: bold;
    color: white;
    text-align: center;
    margin: 0.5rem;
}

.getitem {
    font-size: 2.5rem;
    color: white;
    font-weight: bold;
    align-self: center;
}

.price {
    margin: 0;
}

.date {
    font-size: 1.25rem;
    margin: 0;
}

.unit {
    font-size: 0.75rem;
}

.buttonset {
    background-color: #FFFCF6;
    padding: 0.5rem 0.5rem 1rem 0.5rem;
}

.buttontitle {
    margin: 1rem 0.5rem;
    font-size: 0.5rem;
    color: #909090;
}

.buttonset ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;

}

.button {
    list-style: none;
    padding: 0.4rem;
    width: 2.3rem;
    background-color: #EFEFEE;
    border-radius: 0.75rem;
}

.button img {
    width: 100%;
}

.buttonset li p {
    margin: 0.2rem 0 0 0;
    text-align: center;
    font-size: 0.75rem;
}