body {
    width: 100%;
    height: max-content;
    overflow-x: hidden; /* 수평 스크롤 숨기기 */
}

.container {
    width: 80%;
    margin: auto;
    margin-top: 5rem;
}

.pic_box {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    overflow: hidden;
    display: flex; /* 추가된 부분 */
    justify-content: center; /* 추가된 부분 */
    align-items: center; /* 추가된 부분 */
    margin-left: 0.5rem;
}

.pic_box img{
    width: 100%;
}

.bise_box {
    display: flex;
    align-items: center;
    margin: 1.5rem 0;
    padding: 0.25rem 0.2rem;
    border-radius: 0.5rem;
    box-shadow:  0 0.03rem 0.1rem 0.1rem rgba(78, 78, 78, 0.253);
}

.bise_box div {
    margin-right: 1rem;
}

.area {
    font-size: 0.8rem;
    color: #929292;
}