
/***************** 탭 관련 css ******************/
ul.tabs {
    margin: 0px;
    padding: 0px 8%;
    list-style: none;
    display: flex;
    line-height: 1rem;
    justify-content: space-between;
    border-bottom: 0.1rem solid #DCDCDC;
}

ul.tabs li {
    background: none;
    color: #DCDCDC;
    font-size: 1rem;
    padding: 0 0 0.5rem 0;
    cursor: pointer;
    position: relative; /* position 설정 추가 */
}

ul.tabs li.current {
    color: black
}
ul.tabs li::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.12rem; /* ul의 border와 겹치도록 설정 */
    width: 100%;
    border-bottom: 0.1rem solid transparent; /* 기본은 투명 */
}

ul.tabs li.current::after {
    border-bottom-color: black; /* 활성화된 탭의 border-bottom 색상 설정 */
}

.tab-content {
    display: none;
    width: 85%;
    margin: 2rem auto;
}

.tab-content.current {
    display: inherit;
}

/************************ 기본정보 css *************************/
.flex {
    display: flex;
    align-content: center;
}

.flex .pic {
    width: 2.8rem;
    height: max-content;
    margin: auto 0;
    border-radius: 50%;
    overflow: hidden;
    display: flex; /* 추가된 부분 */
    justify-content: center; /* 추가된 부분 */
    align-items: center; /* 추가된 부분 */
}

.pic img {
    width: 105%;
}

.flex div{
    align-content: center;
}

.flex div p {
    margin: 0 0.5rem;
    font-size: 0.9rem;
}

.flex .price {
    font-size: 1.25rem;
    font-weight: bold;
}

.flex .unit {
    font-size: 0.5rem;
    color: #969696;
}

.semititle {
    margin: 2rem 0 1rem 0;
}
/***************************예측 서비스**************************/
#tab-2 .flex {
    margin-top: 3rem;
}
.ment {
    margin-left: 0.5rem;
    color: #979797;
}

.ment span{
    font-weight: bold;
    color: black;
}

.predict {
    font-size: 2.2rem;
    font-weight: bold;
}

.total_price {
    margin: 3rem 0;
}

.total_price p {
    margin: 0.5rem 0;
}
.predict .price {
    letter-spacing:-1px;
    color: #4FE4C0;
}

.predict .dimension {
    color: #969696;
    font-size: 0.6rem;
    font-weight: normal;
    vertical-align: top;
}

.warn {
    margin: 1rem 0;
    font-size: 0.6rem;
    color: #B1B1B1;
}
/*****************************날씨******************************/
.temp {
    vertical-align: middle;
    align-self: center;
    font-size: 2rem !important;
    margin: 0 1rem 0 0!important;
    font-weight: bold;
}

.weatherIcon {
    margin-right: 0 !important;
}

.info {
    font-size: 0.75rem !important;
}

.weatherInfo {
    font-size: 0.75rem !important;
}

.place {
    margin-left: 0.5rem;
}

.rate_box {
    width: 30%;
    padding: 0.5rem 0;
    border: 1px solid #e0e0e0;
    border-radius: 0.2rem;
}

.boxes div p{
    text-align: center;
    font-size: 0.8rem;
}
.weathericon {
    justify-content: center;
}

.boxes {
    padding: 0 2.5rem;
    justify-content: space-around;
}

.weather_chart {
    margin-top: 3rem;
}

.weather_table {
    margin: 1rem 0;
    display: flex;
    overflow-x: auto; /* 가로 스크롤 활성화 */
    white-space: nowrap; /* 자식 요소들을 한 줄로 나열 */
    scrollbar-width: none; /* Firefox에서 스크롤바 숨기기 */
}

.weather_table::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera에서 스크롤바 숨기기 */
}

.date_box {
    display: inline-block;
    margin: auto;
    padding: 0.7rem;
    border: 0.1px solid #e0e0e0;
    border-radius: 0.5rem;
    flex: 0 0 auto; /* 자식 요소가 줄 바꿈되지 않도록 설정 */
    margin-left: 0.5rem;
}

.date_day {
    font-weight: bold;
}

.max_temp {
    margin-top: 0.5rem;
    font-size: 0.9rem;
    font-weight: bold;
    color: rgb(230, 0, 0);
}

.min_temp {
    font-size: 0.9rem;
    color: rgb(77, 77, 255);
}
/***************************도매 정보***************************/
.market_box {
    margin: 1.5rem 0;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    box-shadow:  0  0.1rem 0.3rem rgba(78, 78, 78, 0.253);
}

.market_box div {
    display: flex;
    margin: 0.5rem 0;
}

.market_box div p {
    margin-left: 0.5rem;
}

.market_box i {
    color: #afafaf;
}

.market_name2 {
    font-weight: bold;
}
